/*
-----------------------------------------------------------
ESTRUTURA BASE
-----------------------------------------------------------
***** ESTILOS GERAIS
***** DECLARAÇÃO DE VARIÁVEIS 
***** BODY
***** HEADER
***** PÁGINA INICIAL
***** FOOTER
***** @MEDIA - TORNAR SITE RESPONSIVO
*/
/*   ESTILOS GERAIS   */
html, body, figure, img, div, p, h1, h2, h3, h4, h5, h6, ul, li, a, main, label, span, input {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
/*   DECLARAÇÃO DE VARIÁVEIS    */
:root{
    --corBackgroundPrimaria: #94ADCB;
    --corBackgroundButton: #4288df;
    --corTextPrimaria: rgb(65, 63, 63);
    --corTextSecundaria: #fff;
}
/*   BODY   */
body {
    font-family: Arial Narrow, Helvetica, sans-serif;
}
/*   HEADER   */
header .container{
    position: relative;
}
header section{
    width: 100%;
    height: 75vh;
}
header section.imagem_fundo{
    background-image: url(../img/imagem_fundo.webp);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 75vh;
}
header h1{
    display: none;
}
.titulo h2{
    padding: 25px;
    background-color: var(--corBackgroundPrimaria);
    color: var(--corTextPrimaria);
}
header figure img{
    width: 150px;
    position: absolute;
    top: 10px;
    left: 10px;
    opacity: .8;
}
header figure img:hover{
    opacity: 1;
    cursor: pointer;
    
}
header figure figcaption{
    display: none;
}
header .navegacao{
    position: absolute;
    top: 10px;
    right: 10px;
}
header .navegacao ul{
    display: flex;
    justify-content: flex-end;
}
header .navegacao ul li{
    margin: 0 10px;
    padding: 10px;
    width: 80px;
    background-color: var(--corBackgroundPrimaria);
    text-align: center;
}
header .navegacao ul li:hover{
    background-color: var(--corBackgroundButton);
    transition: 1s;
}
header .navegacao ul li a{
    color: var(--corTextPrimaria);
    font-weight: bold;
}
header .navegacao ul li a:hover{
    color: var(--corTextSecundaria);
    border-bottom: 2px solid var(--corTextSecundaria);
}
/*   MENU   */
header .menu input{
    display: none;
}
/*   PÁGINA INICIAL   */
main .conteiner{
    max-width: 80%;
    margin: 20px auto;
    padding: 30px;
}
main section p{
    font-size: 1rem;
    line-height: 1.5em;
    letter-spacing: 0.075em;
    text-align: justify;
    margin-top: 20px;
}
/*   FOOTER   */
footer{
    background-color: var(--corBackgroundPrimaria);
    margin-top: 50px;
}
footer .conteiner{
    padding: 40px;
    padding-bottom: 10px;
    position: relative;
}
footer .area_contato{
    display: flex;
    flex-direction: column;
    color: var(--corTextSecundaria);
    align-items: left;
}
footer ul li{
    text-align: center;
    margin: 10px;
}
footer ul li a{
    color: var(--corTextSecundaria);
}
footer img{
    position: absolute;
    right: 15px;
    top: 1px;
    width: 185px;
}
footer .portifolio{
    display: flex;
    flex-direction: column;
    color: var(--corTextSecundaria);
    padding: 20px 0;
    align-items: center;
}
footer .portifolio a{
    color: var(--corTextSecundaria);
    border-bottom: 1px solid var(--corTextSecundaria);
}
footer .portifolio a:hover{
    border-bottom: 2px solid var(--corTextSecundaria);
    color: var(--corTextPrimaria);
}
footer hr{
    background-color: var(--corTextPrimaria);
    height: 1px;
    border: none;
}
footer .portifolio p{
    text-align: center;
}
/*   @MEDIA - TORNAR SITE RESPONSIVO   */
@media (max-width: 750px){
    footer ul li{
        text-align: left;
    }
    footer img{
        top: 10px;
        width: 130px;
    }
}
@media (max-width: 580px){
    /*  BOTÃO DO MENU   */

    header .navegacao{
        position: fixed;
        top: 0;
        right: -100%; /*APARECE/DESAPARECE - MENU*/

        margin: 0;
        height: 100%;/*ALTERADO*/
        background-color: #FFF;

        width: 100%;
        max-width: 250px;
        padding: 100px 20px;
        flex-direction: column;
        transition: 0.6s ease;
        z-index: 1;
    }
    header .navegacao ul{
        flex-direction: column;
    }
    header .navegacao ul li{
        margin-top: 10px;
        margin-right: 70px;
        padding: 0;
        width: 100%;
        max-width: 250px;
        background-color: initial;
    }
    header .navegacao ul li:hover{
        color: var(--corBackgroundPrimaria);
        transition: 1s;
    }

    .menu{
        width: 50px;
        height: 50px;
        margin: 10px auto;
        position: relative;
    }
    .menu label{
        width: 70%;
        height: 70%;
        background-color: #069;
        position: absolute;
        transition: all .3s linear;
    }
    #check{
        position: absolute;
        z-index: 1;
        display: none;/*removendo a caixinha da checkbox*/
    }
    span {
        width: 29px;
        height: 4px;
        top: 16px;
        left: 3px;
        position: absolute;
        background-color: #fff;
        transition: all .3s linear;
    }
    span:before {
        content: '';
        width: 29px;
        height: 4px;
        bottom: -8px;
        position: absolute;
        background-color: #fff;
        transition: all .3s linear;
    }
    span:after {
        content: '';
        width: 29px;
        height: 4px;
        top: -9px;
        position: absolute;
        background-color: #fff;
        transition: all .3s linear;
    }
    #check:checked ~ span{
        background-color: transparent;
    }
    #check:checked ~ span:before {
        transform: translate(0px, -8px) rotate(138deg);
    }
    #check:checked ~ span:after {
        transform: translate(0px, 9px) rotate(43deg);
    }
    #check:checked ~ label{
        border-radius: 50%;
    }
    div.menu{
        position: absolute;
        top: 10px;
        right: 20px;
        z-index: 999;
    }
    div.menu:hover{
        position: fixed;
    }
 
 
    /* Conteúdo do Site */
    header figure img {
        width: 130px;
        top: 16px;
    }
    main .conteiner {
        max-width: 95%;
    }
    footer img {
        top: -54px;
        right: -10px;
    }
}


@media (max-width: 400px){


    header figure img {
        width: 100px;
        top: 16px;
    }
    main .conteiner {
        max-width: 100%;
    }
    main .titulo h2{
        font-size: 20px;
    }
    main section p {
        font-size: 0.8em;
        line-height: 1.3em;
        letter-spacing: 0.080em;
        margin-top: 15px;
    }
    footer .conteiner {
        padding: 18px;
    }
    footer nav{
        margin-top: 25px;
    }
    footer ul li a {
        font-size: 0.8em;
    }
    footer .portifolio p {
        font-size: 0.8em;
    }
}